<header class="map-header">
    <div class="header-content">
        <div class="logo-section">

            <div class="header-left">
                <div class="logo-container" onclick="window.location.href='/'" style="cursor:pointer;">
                    <img src="{{ url_for('static', filename='images/imd_logo.png') }}" alt="IMD Logo" class="imd-logo">
                </div>
                <div class="header-text">
                    <h1 onclick="window.location.href='/'" style="cursor:pointer; display:inline-block;">India
                        Meteorological Department (IMD)</h1><br>
                    <h2 onclick="window.location.href='/'" style="cursor:pointer; display:inline-block;">Meteorological
                        Watch Office - Mumbai</h2>

                </div>
            </div>
        </div>

        <div class="header-right">

            <div class="utc-clock">
                UTC: <span id="utc-time">--:--</span> | <span id="utc-date">-- --- ----</span>
            </div>
        </div>
    </div>
</header>